body {
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", sans-serif;
}

main {
  padding: 0 2em;
}
img {
  width: 100%;
}

.logo {
  max-width: 200px;
}

.slide,
.carousel {
  max-height: 200px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.movie-list > button {
  margin: 0 1em 1em 0;
}

.select-movie {
  margin: 2em 0;
}

.poster img {
  width: 200px;
}

.movieInfo .card {
  max-width: 500px;
  margin: 0 auto;
}

.movie-compare {
  margin-bottom: 40px;
  display: none;
}

@media (max-width: 450px) {
  .movieInfo {
    width: 50%;
    padding-right: 3px;
    padding-left: 3px;
  }

  .list-group-item {
    padding: 0;
  }

  .card-body {
    padding: 5px;
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }

  .search {
    margin-bottom: 20px;
  }
}
